<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610252795856-rfhjq68hg99kr4f13jdsdh3l97f6ppd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610252795856-rfhjq68hg99kr4f13jdsdh3l97f6ppd4</string>
	<key>API_KEY</key>
	<string>AIzaSyBCTlqjpchlrPGQ8iaAz2mla9EwSYx68KM</string>
	<key>GCM_SENDER_ID</key>
	<string>610252795856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wapps.Instant</string>
	<key>PROJECT_ID</key>
	<string>instant-263</string>
	<key>STORAGE_BUCKET</key>
	<string>instant-263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610252795856:ios:9bfc955e945d3280e893d5</string>
	<key>DATABASE_URL</key>
	<string>https://instant-263.firebaseio.com</string>
</dict>
</plist>